build/
dist/
*.exe
*.spec
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
.eggs/
.pytest_cache/
.vscode/
*.lnk
*.lrc
loopMIDISetup_*/
额外程序/
设计过程.txt
*.txt
!requirements.txt
